//Created by MH on 2015-09-14.
extends head

block content
   div
      nav(class='navbar navbar-default')
         div(class='container-fluid')
            div(class='navbar-header')
               button(class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false')
                  span(class='sr-only')
                     Toggle nacigation
                  span(class='icon-bar')
                  span(class='icon-bar')
                  span(class='icon-bar')
               a(class='navbar-brand', href='/index') 主页
            div(class='collapse navbar-collapse' id='bs-example-navbar-collapse-1')
               ul(class='nav navbar-nav')
                  li: a(href='/information') 留学须知
                  li: a(href='/schoolinfo') 学校信息
                  li: a(href='/application') 如何申请
                  li: a(href='/question') 疑难解答
